@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@400;500;600&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Mada:wght@400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

html , body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Mada", sans-serif;
}
html {
    scroll-behavior: smooth;
}

div{
    text-decoration: none;
}
/* Transition */
.main{
    height: 100%;
}

.nav-part{
    height: 30%;
}
#desktop-nav a{
    text-decoration: none;
    /* transition: transform 0.3s; */
    transition: text-decoration 0.3s ease-in-out;
}
#mobile-nav a{
    text-decoration: none;
}
#mobile-nav a:hover , #desktop-nav a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: pink;
    text-decoration-thickness: 0.2rem;
    transform: scale(1.2rem);
}

#desktop-nav {
    position: fixed;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(57, 79, 244, 0.9);
    overflow: hidden;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: lowercase;
    display: inline-block;
    padding: 1rem 2rem 1rem 2rem;
}
#desktop-nav li a{
    font-family: "Crimson Text", serif;
    color: #fff;
    text-shadow: 2px;
    margin: 2.2rem;
}


/* HAMBURGER STUFF */

#mobile-nav {
    position: fixed;
    color: #fff;
    height: 30%;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(57, 79, 244, 0.9);
    overflow: hidden;
    width: 100%;
    display: none;
    text-shadow: 0 cap;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: lowercase;
    padding: 1rem 2rem 1rem 2rem;
} 
#mobile-nav li a{
    font-family: "Crimson Text", serif;
    color: #fff;
    text-shadow: 2px;
    margin: 0.4rem;
}
.hamburger-icon span{
    justify-content: space-between;
    height: 2.4rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.3 ease-in-out;

}
.menu-links{
    position: absolute;
    right: 3%;
}
.nav-links {
    list-style-type: none;
}

/* Additional Styles... */


.intro{
    color: #ffe;
    padding: 10%;
    background-color: #48d8a4;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
}
/* .intro h1{
    width: 80%;
} */
.flower{
    padding: 50%;
    margin:10% 2% 4% 40%;
    width: 20%;
    height: 50%;
    overflow: hidden;
    box-sizing: border-box;    
    padding: 5%;
}
.flower img{
    width: 300px;
    height: 300px;
    border: 4px solid #f6e6e0;
    
}
.pic img{
    size: 2rem;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;

}
.left_sec{
    width:45%;
    padding:1%;
}
.right_sec{
    width:60%;
    padding:1%;

}
.right_sec h4{
    font-family: "Crimson Text", serif;
    color:#7689d8;
    font-size: 2rem;
}
.right_sec p{
    color:black;
    font-size: 1.4rem;
    margin-right: 2%;
}
.head{
    height: 20%;
    margin-left: 10%;
}
.about_sec{
    background-color: #f6e6e0;
}
.about{
    height: 80%;
}
.head h3{
    color:#af1414;
    margin-bottom: 2%;;
}
.head h4{
    color: #1c2273;
    text-transform: capitalize;
    font-family: "Crimson Text", serif;
    margin-bottom: 1%;
}

